//<editor-fold desc="Axios Spinner">
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}


#spinner {
    display: flex;
    flex-direction: column;

    background: #000000cc;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99999999999998;
    transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
    opacity: 0;
    visibility: hidden;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    .spin-content {
        display: flex;
        flex-direction: column;
        margin: auto;

        .spinnable {
            margin-left: auto;
            margin-right: auto;

            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 2px solid #ccc;
            border-top-color: rgba(0, 0, 0, 0);
            animation: spinner .6s linear infinite;

        }

        .message {
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
            color: #ccc;
            font-size: 1.5rem;
        }
    }

}


//</editor-fold>


//<editor-fold desc="Toggable Section">
.toggable-section {

    &.hidden {
        display: none;
    }
}

//</editor-fold>


//<editor-fold desc="Zoomable">
.zoomable {

    @for $step from 1 to 9 {
        .reduce-0#{$step} {
            zoom: $step/10;
        }
    }


    .apply-zoom::after {
        content: ' Zoom';
    }

    &.zoomed {
        @for $step from 1 to 9 {
            .reduce-0#{$step} {
                zoom: unset;
            }
        }


        .apply-zoom::after {
            content: ' Conferma';
        }


        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 999;
        padding: 20px;
        background-color: #ffffffdb;
        overflow-y: auto;

    }

    .input-group {
        .input-group-text {
            padding: 0;
        }
    }

}

//</editor-fold>
